<header class="hero py-3 bg-white border-bottom mb-3">
  <div class="container text-center">
    <h1 class="fw-bold">
      Page not found!
    </h1>
  </div>
</header>

<p class="text-center">
  <a class="btn btn-sm btn-outline-secondary text-nowrap" href="/dashboard">Go back</a>
</p>
