<header class="hero py-3 bg-white border-bottom mb-3">
  <div class="container text-center">
    <h1 class="fw-bold">
      Oops. An error occurred!
    </h1>
  </div>
</header>

<div class="container">

  <h2> <%= error.statusCode %></h2>
  <div><%= error %></div>

  <p class="text-center mt-4">
    <a class="btn btn-sm btn-outline-secondary text-nowrap" href="/dashboard">Go back</a>
  </p>
</div>
