
<% // Set optional variables
const fieldError = {};
%>

<% if (errors.length) { %>
  <div class="alert alert-danger d-flex align-items-center gap-2 mt-3">
    <ul>
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>
